*
{
	margin: 0;
	padding: 0;
}
.header
{
	height: 120px;
	width:100%;
	background-color: lightblue;
	padding: 20px;
}
.footer
{
	height: 100px;
	width:100%;
	background-color: lightblue;
}
.main_container
{
	width: 100%;
	height: auto;
	background-color: bisque;
}
.form
{
	padding-top:20px;
	height: auto;
	width: 500px;
	/*border: 1px solid red;*/
	margin: 0 auto;
	padding-bottom: 40px;

}
.logo
{
	position: relative;
	top:5px;
	left: 20px;
}